.image {
  display: flex;
  padding: 2px;
  width: max-content;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  //border: 2px solid #ffffff;
  img {
    border-radius: 5px;
  }

  img.blur {
    backdrop-filter: blur(3px);
  }
}

.image.circle {
  border-radius: 100%;

  img {
    border-radius: 100px;
  }
}

