.skills {
  > .label {
    text-align: center;
  }

  > div {
    margin: 10px auto;
    padding: 5px;
    max-width: 500px;
  }

  .cards {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.22);
  }
}