.skills {
  > .label {
    text-align: center;
    //transition: top 0.5s ease-in-out 0s;
  }

  > div {
    margin: 10px auto;
    padding: 5px;
    max-width: 500px;
  }

  .cards {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.22);
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}