.tiger-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  pointer-events: none;
  overflow: hidden
}

.tiger-wrapper {
  position: absolute;
  width: 95px;
  height: 56px;
  bottom: 0;
  pointer-events: auto;
  animation: tigerRun 25s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiger-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;

  &.dark {
    transition: filter 0.3s ease;
  }

  &.light {
    transition: opacity 0.3s ease;

    -webkit-mask-image: radial-gradient(200px circle at calc(var(--mouse-x, 0px) - var(--tiger-left, 0px)) calc(var(--mouse-y, 0px) - var(--tiger-top, 0px)), black 0%, transparent 70%);
    mask-image: radial-gradient(200px circle at calc(var(--mouse-x, 0px) - var(--tiger-left, 0px)) calc(var(--mouse-y, 0px) - var(--tiger-top, 0px)), black 0%, transparent 70%);
  }
}

@keyframes tigerRun {
  0% {
    left: 100%;
    transform: scaleX(1);
  }

  49% {
    left: -120px;
    transform: scaleX(1);
  }

  50% {
    left: -120px;
    transform: scaleX(-1);
  }

  99% {
    left: 100%;
    transform: scaleX(-1);
  }

  100% {
    left: 100%;
    transform: scaleX(1);
  }
}