.cards {
  margin: 0 auto;

  .card {
    .card-body {
      p, a {
        margin: 5px;
        font-family: 'Lemonada-Medium';
      }
      .body {
        font-size: .7rem;
        font-family: Lemonada-Medium;
      }
    }
  }
}