@import "./../../../../assets/color";

#heading {
  position: fixed;
  z-index: 9999;
  height: 56px;
  width: 100vw;
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(8px);

  .left {
    flex: .3;
  }

  .center {
    flex: .6;
  }

  .right {
    flex: .1;

    .icon-button {
      width: 50px;
      height: 100%;
    }

    button {
      border: none;
      background: none;
    }
  }

  .logo, a, button {
    transition: ease-in-out 300ms;
    font-size: 1.3rem;
    height: 100%;
    color: $blueGray-300;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'RainyHearts', sans-serif;
    justify-content: center;

    span {
      margin-right: 3px;
    }
  }

  a:hover, button:hover {
    color: #FFFFFF;
  }

  ul {
    height: 100%;
    width: 100%;

    li {
      width: calc(100% / 6);
    }
  }
}

#heading,
#heading .left,
#heading .right,
#heading .center ul,
{
  display: flex;
}