@import "./../color";

main.dark {
  background-color: #202023;

  .label, p, h1, a {
    color: #fff0c5 !important;
  }

  #heading {
    background: none;

    a.active,
    a:hover,
    button:hover {
      color: $orange-200 !important;
    }

    a, button {
      color: $blueGray-400 !important;
    }

    .mobile-menu {
      ul {
        background: rgba(72, 69, 78, 0.8);
      }
    }
  }

}