@import "./../color";

main.dark {
  .dark-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 0;
    background-color: #202023;
  }


  i {
    color: $orange-400
  }

  .label, p, h1, a {
    color: #fff0c5 !important;
  }

  #heading {
    background: none;

    a.active,
    a:hover,
    button:hover {
      color: $orange-200 !important;
    }

    a, button {
      color: $blueGray-400 !important;
    }

    .mobile-menu {
      ul {
        background: rgba(72, 69, 78, 0.8);
      }
    }
  }

}