@import "./../color";

main.dark {
  .dark-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    width: 250vw;
    height: 250vh;
    opacity: .6;
    z-index: 0;
    transform: scale(2);
    transition: 900ms ease-in-out;
    background-color: #202023;
  }


  i {
    color: $orange-400
  }

  .label, p, h1, a, input, textarea {
    color: #fff0c5 !important;
  }

  #heading {
    background: none;

    a.active,
    a:hover,
    button:hover {
      color: $orange-200 !important;
    }

    a, button {
      color: $blueGray-400 !important;
    }

    .mobile-menu {
      ul {
        background: rgba(72, 69, 78, 0.8);
      }
    }
  }

}