@import "../color";

a, a:active, a:visited {
  color: $blueGray-400;
}

a, p, i {
  font-family: 'Lemonada-Medium';
}

h1, a, p {
  color: $gray-50
}

i {
  color: $orange-300
}

main {
  background-color: #f0e7db;
}