@import "../color";

a, a:active, a:visited {
  color: $blueGray-400;
}

h1, a, p {
  color: $gray-50
}

i {
  color: $orange-300
}

main {
  background-color: #f0e7db;
}

main.light {
  .dark-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: .6;
    border-radius: 50%;
    width: 250vw;
    height: 250vh;
    transform: scale(0);
    transition: 900ms ease-in-out;
  }
}