@import "../color";

a, a:active, a:visited {
  color: $blueGray-400;
}

h1, a, p, input, textarea {
  color: $gray-50
}

.icon-button.hover a, .icon-button.hover {
  color: $blueGray-300 !important;
  border-color: $blueGray-300 !important;
}

.icon-button.hover:hover,
.icon-button.hover:hover a {
  color: $gray-50 !important;
  border-color: $gray-50 !important;
  transition: color 0.25s ease-in-out 0s;
}

i {
  color: $orange-300
}

main {
  background-color: #f0e7db;
}

main.light {
  .dark-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: .6;
    border-radius: 50%;
    width: 250vw;
    height: 250vh;
    transform: scale(0);
    transition: 900ms ease-in-out;
  }
}