.project {
  > div {
    > .label {
      text-align: center;
    }
  }

  .label {
    font-family: 'Lemonada-Medium';
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
  }
}